# core
__pycache__
api-logs
celery-logs


# Celery
# ml-celery/app/worker/ml/models/*
# !ml-celery/app/worker/ml/models/.gitkeep

# Storage
ml-storages/upload/*
ml-storages/objec_detection/*
!ml-storages/upload/.gitkeep
!ml-storages/objec_detection/.gitkeep





